.temperature-button {
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: #d6feff;
    width: 80px;
    height: 50px;
    cursor: pointer;
  }
  
  .icon {
    width: 38px;
    height: 38px;
  }
  
  .icon:hover { /* On hover, enlargen */
    transform: scale(1.1);
  }
  
  .temperature-label {
    font-size: 1.1rem;
    font-weight: bold;
    color: red;
  }
  