.prompt-container {
    background-color: rgb(242, 252, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: .8px solid orange;
    border-radius: 10px;
    width: min(90vw, 1120px);
    height: 14vw;
    margin: 12px;
    padding: 16px;

    .text-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      gap: 6px;
      margin-bottom: 18px;
    }
      
    .input-container, .output-container {
      flex: 1;
      display: flex;
      flex-direction:column;
      align-items: center;
      width: 580px;
      padding: 5px;
      overflow: hidden;
    
      textarea {
          background: transparent;
          width: 98%;
          font-size: 1rem;
          padding: 7px;
          letter-spacing: .9px;
          min-height: 4.5rem;
          border-radius: 5px;
          overflow: auto;
          resize: none;
          color: red;
        }
    }

    .copy-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border: none;
    
      button {
        background-color: rgb(255, 191, 117);
        padding: 0.4rem .8rem;
        border: none;
        border-radius: 8px;
        font-weight: 500;
        font-family: inherit;
        font-size: .9rem;
        cursor: pointer;
      }
    
      button:hover {
        transform: scale(1.2);
      }
    }

    .emoji-picker {
      position: absolute;
      left: 10px;
      top: 90%; 

      img {
        width: 40px;
        height: 40px;
      }
    }

    .error-message {
      text-align: center;
      color: red;
      margin-top: 8px;
      font-size: 0.9rem;
    }
}
  