:root {
  font-family: "Inter", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  margin-top: 3vh;

  background-color: white;
  color: #213547;
}

#root {
  width: min(100vw, 1440px);
  height: min(100vh, 680px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

footer {
  position: absolute;
  right: 6%;
  bottom: 6%;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(149, 250, 149);
    padding: 6px;
    border-radius: 5px;
    font-size: 20px;
    font-style: italic;
  
    img {
      width: 40px;
      height: 40px;
    }
  }
}


h1 {
  font-family: "Anton";
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 20px;
}

p {
  text-align: center;
  margin: 0 12px;
  font-size: 1em;
  line-height: 1.5;
}

input[type="text"] {
  padding: 10px;
  font-size: 25px;
  margin-right: 10px;
  border: 1px solid #ddd;
  background: transparent;
  border-radius: 4px;
  width: 300px;
}

label {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.8em;
}

input {
  flex-grow: 1;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #dce7f6;
  color: #cb6464;
  border: none;
  border-radius: 5px;
  user-select: none;
  margin: 0 0.5rem;
}

a {
  font-weight: 500;
  color: blue;
}

a:hover {
  color: #e34c3e;
  border-color: #747bff;
}

@media screen and (max-width: 1600px) and (orientation: landscape) {
  #root {
    margin: auto 0;
  }
  h1 {
    font-size: 1.3rem;
    margin: 10px;
  }

  footer {
    position: absolute;
    right: 120px;
    bottom: 30px;
  }

  .prompt-container {
    padding-bottom: 5px;
  }

  .text-container {
    textarea {
      font-size: 1.3rem !important;
    }
  }
}