html, body {
  font-family: "Inter", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  background: white;
  color: #213547;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 1320px;
  height: auto;
  margin: 0 auto;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  html, body {
    font-size: 20px;
  }
}